<h4>Playlist Component</h4>
<form [formGroup]="playlist">
  <!--  Static fields in the form, formatted with Bootstrap Classes
        See https://getbootstrap.com/docs/5.2/forms/form-control/ for details

        For training purposes everything is in this single control. In real life
        you would want to split this out over multiple controls, following
        the Smart/View component pattern.
        -->
  <div class="row mb-3">
    <label for="staticTitle"
           class="col-sm-3 col-form-label">
      Title *
    </label>
    <div class="col-sm-9">
      <input id="staticTitle"
             type="text"
             class="form-control"
             placeholder="Playlist title"
             formControlName="title">
    </div>
  </div>
  <div class="row mb-3">
    <label for="staticDate" class="col-sm-3 col-form-label">
      Date *
    </label>
    <div class="col-sm-9">
      <input id="staticDate"
             class="form-control"
             type="date"
             placeholder="date"
             formControlName="date">
    </div>
  </div>
  <div class="row mb-3">
    <label for="staticDescription" class="col-sm-3 col-form-label">
      Description *
    </label>
    <div class="col-sm-9">
      <input id="staticDescription"
             class="form-control"
             type="text"
             placeholder="Description"
             formControlName="description">
    </div>
  </div>
  <div class="row">
    <!--  Dynamic fields in the form, in an array-->
    <ng-container formArrayName="songs">
      <ng-container *ngFor="let songForm of songs.controls; let i = index">
        <div [formGroupName]="i">
          <input type="text" formControlName="artist" placeholder="artist">
          <input type="text" formControlName="title" placeholder="title">
          <input type="text" formControlName="duration" placeholder="duration">
          <button class="btn btn-warning"
                  title="Delete this song"
                  (click)="deleteSong(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>
<div>
<!--  Buttons to add and save the playlist.-->
  <button class="btn btn-info" (click)="addSong()">
    <i class="fa fa-add"></i>
    Add Song
  </button>
  <button class="btn btn-success" (click)="save()">
    <i class="fa fa-floppy-disk"></i>
    Save Playlist
  </button>
</div>
<hr>
<div *ngIf="playlistRaw">
  <p>TODO: Post to database, playlist:</p>
  <pre>
{{ playlistRaw | json }}
</pre>
</div>
